@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #bc9ec1;
}

@font-face {
  font-family: 'BioRhyme';
  src: url('/fonts/BioRhyme/BioRhyme-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf');
}

/* MDX related styling */
.prose {
  @apply text-base;
}

.prose h2 {
  @apply text-2xl;
}

.prose h3 {
  @apply text-xl;
}

.prose h4 {
  @apply text-lg;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-primary-100;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose strong {
  @apply text-primary-0;
}

.prose a {
  @apply font-bold;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50;
}

.prose code {
  @apply text-gray-800 px-1 py-0.5 border border-gray-100 rounded-md bg-gray-100;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700;
}

.token.punctuation {
  @apply text-gray-700;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
