@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #bc9ec1;
}

@font-face {
  font-family: 'BioRhyme';
  src: url('/fonts/BioRhyme/BioRhyme-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf');
}

h1,
h2,
h3,
h4 {
  @apply text-secondary-0;
  font-family: 'BioRhyme';
}

/* MDX related styling */
.prose {
  @apply text-base text-tertiary-0;
  font-family: 'Space Mono';
}

/* headings */
.prose h2,
h3,
h4 {
  @apply text-secondary-0;
  font-family: 'BioRhyme';
  scroll-margin-top: 8rem;
}
.prose h2 {
  @apply text-2xl;
}

.prose h3 {
  @apply text-xl;
}

.prose h4 {
  @apply text-lg;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-primary-100;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose strong {
  @apply text-primary-0;
}

.prose a {
  @apply font-bold text-primary-0;
}

.prose a:hover {
  @apply text-tertiary-100;
}

.prose a code {
  @apply text-primary-0;
}

.prose ul > li::before {
  @apply bg-tertiary-0;
}

.prose ol > li::before {
  @apply text-tertiary-0;
}

.prose blockquote {
  @apply border-primary-100;
}

.prose pre {
  @apply border border-dracula-aro bg-secondary-0;
}

.prose code {
  @apply text-dracula-cullen px-1 py-0.5 border border-dracula-aro rounded-md bg-dracula-nosferatu;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-dracula-blade;
}

.token.punctuation {
  @apply text-secondary-100;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-dracula-buffy;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-dracula-lincoln;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-dracula-lincoln;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-dracula-dracula;
}

.token.function,
.token.class-name {
  @apply text-secondary-200;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-dracula-buffy;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-dracula-cullen;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
